*{
  margin: 0;
  padding:0%;
  font-family: Poppins;

}

/* .poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
} */

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

/* .outfit-<uniquifier> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */